<h1>Workouts: </h1>
<table>
    <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Category</th>
        <th>Author</th>
    </tr>
    <% @workouts.each do |workout| %>
        <tr>
            <td><%= link_to workout.name, edit_workout_path(workout) %></td>
            <td><%= " #{workout.duration} minutes " %></td>
            <td><%= workout.category %></td>
            <td><%= workout.user.email %></td>
        </tr>
    <% end %>
</table>