<h1>
    <%= link_to @workout.name, workout_path(@workout) %>
    <%= "Exercise ##{@workouts_exercise.order_occurs}: " %>
</h1>
<p>Find me in app/views/workouts_exercises/edit.html.erb</p>
<% @form_path = workout_workouts_exercise_path %>
<%= render partial: 'form' %>

