<h1>
    <%= link_to @workout.name, workout_path(@workout) %>
    <%= "Exercise ##{@workouts_exercise.order_occurs}: " %>
</h1>

<% @form_path = workout_workouts_exercises_path %>
<%= render partial: 'form' %>