<h1><%= @user.email %></h1>
This user has made <%= pluralize(@workouts.count, "workout") %>, using <%= pluralize(@exercises.count, "exercise") %>.<br>
<% @workouts.each do |workout| %>
    <%= link_to workout.name, workout_path(workout) %><br>
<%end%>